$color_titulos: aqua;
$color_titulos_2: black;
$color_letras_titulos_2: white;

.tabla-titulos {
  background-color: $color_titulos;
}
.celda-titulo {
  padding: 0% 0% 0% 0%;
}
td {
  margin: 5%;
}
table {
  margin: auto;
  width: 80%;
  border: solid;
}
th {
  margin: 0% 0% 0% 10%;
  text-align: left;
}
thead {
  margin: 0% 0% 0% 10%;
}
td:hover {
  background-color: gray;
}
tr:hover td {
  background-color: #bfbfbf;
}
.botones {
  margin: 3% 0% 0% 0%;
  display: flex;
  justify-content: space-evenly;
}
.button {
  box-shadow: 5px 5px 10px gray;
  background-color: #00ffff;
  padding: 1% 2% 1% 2%;
  border-radius: 10px;
  transition: 0.3s;
}
.button:hover {
  cursor: pointer;
  background-color: #00cccc;
  transition: 0.3s;
}
.button:active {
  transition: 0.3s;
  box-shadow: 0px 0px white;
}
.second-table {
  background-color: $color_titulos_2;
  color: $color_letras_titulos_2;
  margin: 2% auto;
}
